mark-backend/srcs/vouchers/redeem/workflow-template.json
{
  "name": "Voucher Redemption (Stored Procedure)",
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "path": "redeem",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        420,
        300
      ],
      "webhookId": "redeem-voucher"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT process_redemption('{{$json.body.studentId}}', '{{$json.body.voucherId}}', {{$json.body.cost}})",
        "options": {}
      },
      "name": "Postgres",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        600,
        300
      ],
      "credentials": {
        "postgres": "postgres-db"
      }
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Webhook",
            "type": "main"
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main"
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "id": "3"
}
